p
{
	color: darkslateblue;
	background: lightslategray;
	font-weight: bold;
	text-align: center;
}
h1
{
  color: blue;
  font-weight: bold;
  text-align: right;
  text-shadow: 1px 1px 1px midnightblue;
}
em
{
  color: red;
}